{
  "env": {
      "browser": true,
      "node": true
    },
  "extends": [
      "airbnb",
      "prettier",
      "eslint:recommended"
      //"plugin:node/recommended"
  ],
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2020, 
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
      "prettier/prettier": "warn",
      "no-unused-vars": "warn",
      "react/destructuring-assignment": "off",
      "no-console": "off"
  },
  "overrides": [
    {
      "files": ["src/"]
    }
  ]
}