.canvas {
  position: fixed;
  display: block;
  min-width: 100vw;
  min-height: 100vh;
}

.header {
  display: block;
  min-width: 100vw;
  top: 0; left: 0;
}

.Main {
  min-width: 100vw;
  height: 88vh;
}

.Settings {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.ui.accordion .title:not(.ui) {
  color: grey;
}

#linkButton {
  color: #a6a6a6;
  border-bottom-color: grey;
}

#card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cardContent {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dark-mode {
  background-color: #262626;
  color: #f2f2f2;
}
.light-mode {
  background-color: #f2f2f2;
  color: #262626;
}
.some-colors {
  background-image: linear-gradient(#fdfd81,#fd81d4);
  color: #262626;
}

.input {
  margin: 5px;
}

.ui.dimmer{
  background: transparent;
}