/* root stuff */
.canvas {
  position: fixed;
  display: block;
  min-width: 100%;
  min-height: 100%;
}
.header {
  display: block;
  min-width: 100vw;
  top: 0; left: 0;
}
.input {
  margin: 5px;
}
.Mid {
    min-width: 100vw;
    height: 88vh;
}

/* Settings */
.Settings {
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.ui.accordion .title:not(.ui) {
  margin-top: 10px;
  color: grey;
}

/* menu elements */
.active.content {
  margin-top: 10px;
  display: flex;
  align-items: center;
}
#linkButton {
  color: #a6a6a6;
  border-bottom-color: grey;
}

/* login/signup modal */
#card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#cardContent {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.ui.dimmer{
  background: transparent;
}

/* themes */
.dark-mode {
  background-color: #262626;
  color: #f2f2f2;
}
.light-mode {
  background-color: #f2f2f2;
  color: #f2f2f2;
}
.some-colors {
  background-image: linear-gradient(#fdfd81,#fd81d4);
  color:#f2f2f2;
}

/* Main view and its modules */
.Main, #Main {
  display: flex;
  max-height: inherit;
}
/* Clock */
.Clock {
  min-width: 33%;
  min-height: 80vh;
  max-height: 80vh;
  height: 80%;
  margin-top: 15px;
}
/* Notes */
.Notes {
  min-width: 33%;
  min-height: 90vh;
  max-height: 90vh;
  background-color: #404040;
  border: 4px solid #091921;
  border-radius: 5px;
  margin: 10px;
}
/* RSS */
.RSS {
  width: 33%;
  max-width: 33%;
  min-height: 90vh;
  max-height: 90vh;
  background-color: #404040;
  border: 4px solid #091921;
  border-radius: 5px;
  margin: 10px;
  text-align: center;
  overflow:hidden; 
  overflow-y:scroll;
}
.rssHeader {
  margin: 10px;
}
.rssList, #rssList {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  max-width: 100%;
}
.rssListItem, #rssListItem {
  display: flex;
  max-width: inherit;
  color: #a6a6a6;
  cursor: pointer;
  border: 0;
  background: none;
  box-shadow: none;
  border-radius: 0px;
  margin: 5px;
  margin-bottom: 5px;
}
.rssListItem:hover, #rssListItem:hover {
  color: #6666ff;
  text-decoration: underline;
}
.rssListItem::selection, #rssListItem::selection {
  color: #6666ff;
  text-decoration: underline;
  border: 0;
  border-width: 0;
  box-shadow: 0;
}
